# Imports

In [49]:
import pandas as pd
import numpy as np

# Data Preprocessing

### Loading Dataset

In [50]:
ratings = pd.read_csv('../data/rating.csv.zip')
animes = pd.read_csv('../data/anime.csv')

In [51]:
#Cleaning ratings to only allow values greater than -1
#Cleaning animes to only allow TV Shows
ratings = ratings[ratings.rating > -1]
animes = animes[animes.type == 'TV']

### Transform Dataset

In [52]:
#Getting the amount of differents users
nb_users = ratings.groupby("user_id").user_id.nunique().shape[0]
#Getting the amount of anime shows
nb_shows = animes.shape[0]
print nb_users
print nb_shows

69600
3787

In [53]:
#Rewritting ratings dataframe to ajust user_id in sequences
#We have 69600 users in ratings but we have 73516 different users id's
#We need to create a test set, but we'll have data loss if we don't have the user_id in sequences
actual_index = ratings.iloc[0,].user_id
new_index = 0
new_list_user_id = []
for i in range(ratings.shape[0]):
    if i % 120000 == 0:
        print"{0} %".format((i / float(ratings.shape[0])) * 100.)
    if ratings.iloc[i,].user_id != actual_index:
        new_index += 1
        actual_index = ratings.iloc[i,].user_id    
    new_list_user_id.append(new_index)
print actual_index
print new_index

0.0 %
1.89356851033 %
3.78713702067 %
5.680705531 %
7.57427404134 %
9.46784255167 %
11.361411062 %
13.2549795723 %
15.1485480827 %
17.042116593 %
18.9356851033 %
20.8292536137 %
22.722822124 %
24.6163906343 %
26.5099591447 %
28.403527655 %
30.2970961654 %
32.1906646757 %
34.084233186 %
35.9778016964 %
37.8713702067 %
39.764938717 %
41.6585072274 %
43.5520757377 %
45.445644248 %
47.3392127584 %
49.2327812687 %
51.126349779 %
53.0199182894 %
54.9134867997 %
56.80705531 %
58.7006238204 %
60.5941923307 %
62.487760841 %
64.3813293514 %
66.2748978617 %
68.168466372 %
70.0620348824 %
71.9556033927 %
73.849171903 %
75.7427404134 %
77.6363089237 %
79.529877434 %
81.4234459444 %
83.3170144547 %
85.210582965 %
87.1041514754 %
88.9977199857 %
90.8912884961 %
92.7848570064 %
94.6784255167 %
96.5719940271 %
98.4655625374 %
73516
69599

In [54]:
ratings.tail()

         user_id  anime_id  rating
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

In [55]:
ratings['user_id'] = new_list_user_id

In [56]:
ratings.tail()

         user_id  anime_id  rating
7813732    69598     16512       7
7813733    69598     17187       9
7813734    69598     22145      10
7813735    69599       790       9
7813736    69599      8074       9

In [57]:
ratings.head()

     user_id  anime_id  rating
47         0      8074      10
81         0     11617      10
83         0     11757      10
101        0     15451      10
153        1     11771      10

### Splitting Data Set

In [63]:
#Exporting new data set.
ratings.to_csv('ratings_corrected.csv')