## Data Exploration for Animender

In [1]:
import pandas as pd
import operator

In [5]:
animes = pd.read_csv('../data/anime.csv')
animes_values = animes.values
print animes.shape

(12294, 7)

In [6]:
animes.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [7]:
#How many types of anime are in the dataset
anime_types = []
for i in range(len(animes)):
    if animes_values[i][3] not in anime_types:
        anime_types.append(animes_values[i][3])
print anime_types

['Movie', 'TV', 'OVA', 'Special', 'Music', 'ONA', nan]

In [8]:
#How many movies, how many OVA and how many tv's show?
for anime_type in anime_types:
    print('Total {0}: {1}'.format(anime_type, len(animes[animes.type == anime_type])))

Total Movie: 2348
Total TV: 3787
Total OVA: 3311
Total Special: 1676
Total Music: 488
Total ONA: 659
Total nan: 0

In [9]:
#Anime data
anime_data = animes[animes.type == 'TV']
print(anime_data.shape)

(3787, 7)

In [10]:
#Remove Unknown value from episodes
anime_data[anime_data.episodes == 'Unknown'] = 0

/home/nestor/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/nestor/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:476: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [11]:
best_by_rating = anime_data.sort_values(by='rating', ascending=False)
best_by_members = anime_data.sort_values(by='members', ascending=False)
best_by_episodes = anime_data.sort_values(by='episodes', ascending=False)

In [12]:
best_by_rating.head()

,anime_id,name,genre,type,episodes,rating,members
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351

In [13]:
best_by_members.head()

,anime_id,name,genre,type,episodes,rating,members
40,1535,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.71,1013917
86,16498,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power",TV,25,8.54,896229
804,11757,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance",TV,25,7.83,893100
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
159,6547,Angel Beats!,"Action, Comedy, Drama, School, Supernatural",TV,13,8.39,717796

In [14]:
best_by_episodes.head()

,anime_id,name,genre,type,episodes,rating,members
2276,3437,Mister Ajikko,"Comedy, Shounen",TV,99,7.31,1828
69,12431,Uchuu Kyoudai,"Comedy, Sci-Fi, Seinen, Slice of Life, Space",TV,99,8.59,72958
1128,2268,Tatakae! Chou Robot Seimeitai Transformers,"Adventure, Mecha, Sci-Fi, Shounen",TV,98,7.67,5652
4960,12929,Saint Seiya Omega,"Action, Adventure, Fantasy, Shounen",TV,97,6.59,22684
588,6033,Dragon Ball Kai,"Action, Adventure, Comedy, Fantasy, Martial Ar...",TV,97,7.95,116832

In [16]:
#Read Ratings Data
ratings = pd.read_csv('../data/rating.csv.zip')
ratings.shape

(7813737, 3)

In [17]:
ratings.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [18]:
#Taking a look into animes
animes[animes.anime_id == 20]

,anime_id,name,genre,type,episodes,rating,members
841,20,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297

In [19]:
ratings_completed = ratings[ratings.rating > -1]
ratings_completed.shape

(6337241, 3)

In [20]:
ratings_completed_values = ratings_completed.values

In [21]:
ratings_max_dict = {}
for i in range(len(ratings_completed_values)):
    try:
        if ratings_completed_values[i][2] == 10:
            ratings_max_dict[ratings_completed_values[i][1]] += 1
    except KeyError:
        ratings_max_dict[ratings_completed_values[i][1]] = 1

In [22]:
sorted_max_animes = sorted(ratings_max_dict.items(), key=operator.itemgetter(1), reverse=True)

In [23]:
#Printing TOP Ten of animes with a classification of 10
for i in range(10):
    print anime_data[anime_data.anime_id == sorted_max_animes[i][0]].name

40    Death Note
Name: name, dtype: object
1    Fullmetal Alchemist: Brotherhood
Name: name, dtype: object
13    Code Geass: Hangyaku no Lelouch R2
Name: name, dtype: object
19    Code Geass: Hangyaku no Lelouch
Name: name, dtype: object
3    Steins;Gate
Name: name, dtype: object
10    Clannad: After Story
Name: name, dtype: object
86    Shingeki no Kyojin
Name: name, dtype: object
Series([], Name: name, dtype: object)
29    Tengen Toppa Gurren Lagann
Name: name, dtype: object
159    Angel Beats!
Name: name, dtype: object

In [24]:
ratings_completed.tail()

         user_id  anime_id  rating
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

In [27]:
#Top 25 Animes
for i in range(25):
    print"{0} {1}".format(i + 1, best_by_rating.values[i][1])

1 Fullmetal Alchemist: Brotherhood
2 Gintama°
3 Steins;Gate
4 Gintama&#039;
5 Haikyuu!!: Karasuno Koukou VS Shiratorizawa Gakuen Koukou
6 Hunter x Hunter (2011)
7 Gintama&#039;: Enchousen
8 Clannad: After Story
9 Gintama
10 Code Geass: Hangyaku no Lelouch R2
11 Haikyuu!! Second Season
12 Shigatsu wa Kimi no Uso
13 Mushishi Zoku Shou 2nd Season
14 Hajime no Ippo
15 Code Geass: Hangyaku no Lelouch
16 Cowboy Bebop
17 One Punch Man
18 Monogatari Series: Second Season
19 Mushishi Zoku Shou
20 Ryouma 30 Seconds
21 Mushishi
22 Tengen Toppa Gurren Lagann
23 Great Teacher Onizuka
24 Natsume Yuujinchou Go
25 Natsume Yuujinchou Shi

In [28]:
ratings_animes_dict = {}
#Most rating animes
for i in range(len(ratings_completed_values)):
    if ratings_completed_values[i][2] > -1:
        try:
            ratings_animes_dict[ratings_completed_values[i][1]] += 1
        except KeyError:
            ratings_animes_dict[ratings_completed_values[i][1]] = 1

In [29]:
ratings_animes_dict = sorted(ratings_animes_dict.items(), key=operator.itemgetter(1), reverse=True)

In [34]:
for i in range(20):
    print "Anime: {0} : Ratings: {1}".format(anime_data[anime_data.anime_id == ratings_animes_dict[i][0]].name, ratings_animes_dict[i][1])

Anime: 40    Death Note
Name: name, dtype: object : Ratings: 34226
Anime: 804    Sword Art Online
Name: name, dtype: object : Ratings: 26310
Anime: 86    Shingeki no Kyojin
Name: name, dtype: object : Ratings: 25290
Anime: 19    Code Geass: Hangyaku no Lelouch
Name: name, dtype: object : Ratings: 24126
Anime: 159    Angel Beats!
Name: name, dtype: object : Ratings: 23565
Anime: 760    Elfen Lied
Name: name, dtype: object : Ratings: 23528
Anime: 841    Naruto
Name: name, dtype: object : Ratings: 22071
Anime: 1    Fullmetal Alchemist: Brotherhood
Name: name, dtype: object : Ratings: 21494
Anime: 200    Fullmetal Alchemist
Name: name, dtype: object : Ratings: 21332
Anime: 13    Code Geass: Hangyaku no Lelouch R2
Name: name, dtype: object : Ratings: 21124
Anime: 131    Toradora!
Name: name, dtype: object : Ratings: 20837
Anime: 1709    Highschool of the Dead
Name: name, dtype: object : Ratings: 19488
Anime: Series([], Name: name, dtype: object) : Ratings: 19481
Anime: 223    Clannad
Name: name, dtype: object : Ratings: 18746
Anime: 445    Mirai Nikki (TV)
Name: name, dtype: object : Ratings: 18649
Anime: 643    Ao no Exorcist
Name: name, dtype: object : Ratings: 17801
Anime: 3    Steins;Gate
Name: name, dtype: object : Ratings: 17151
Anime: 702    Another
Name: name, dtype: object : Ratings: 17036
Anime: 29    Tengen Toppa Gurren Lagann
Name: name, dtype: object : Ratings: 16955
Anime: 440    Soul Eater
Name: name, dtype: object : Ratings: 16667

In [37]:
# The worst ratings
for i in range(1, 21):
    print "Anime: {0} : Ratings: {1}".format(animes[animes.anime_id == ratings_animes_dict[-i][0]].name, ratings_animes_dict[-i][1])

Anime: 7391    Sun Set Sun
Name: name, dtype: object : Ratings: 1
Anime: 9852    One and Three Four
Name: name, dtype: object : Ratings: 1
Anime: 7070    Gekkou Shokudou
Name: name, dtype: object : Ratings: 1
Anime: 9291    Kokuen
Name: name, dtype: object : Ratings: 1
Anime: 10599    Toute wa Sono Kotae
Name: name, dtype: object : Ratings: 1
Anime: 10302    Skirt
Name: name, dtype: object : Ratings: 1
Anime: 10409    Storywriter
Name: name, dtype: object : Ratings: 1
Anime: 6836    Gregorio
Name: name, dtype: object : Ratings: 1
Anime: 6653    Ashita e Mukau Hito
Name: name, dtype: object : Ratings: 1
Anime: 6534    La Primavera
Name: name, dtype: object : Ratings: 1
Anime: 6379    Fake Style II
Name: name, dtype: object : Ratings: 1
Anime: 6398    Fake Style
Name: name, dtype: object : Ratings: 1
Anime: 9961    Pepsi Nex x 009 Re:Cyborg
Name: name, dtype: object : Ratings: 1
Anime: 10147    Satto Anshin, SAT x Peeping Life
Name: name, dtype: object : Ratings: 1
Anime: 10883    ZIP! x Peeping Life TV: Cool Japan Saizensen
Name: name, dtype: object : Ratings: 1
Anime: 10513    Teo the Magic Planet Pilot
Name: name, dtype: object : Ratings: 1
Anime: 9246    Kitakaze to Taiyou
Name: name, dtype: object : Ratings: 1
Anime: 10799    Yanesenondo
Name: name, dtype: object : Ratings: 1
Anime: 8897    Hokori Inu no Hanashi
Name: name, dtype: object : Ratings: 1
Anime: 9324    Kozaru no Buranko
Name: name, dtype: object : Ratings: 1

In [39]:
#How many users made a ranking!
user_ratings = {}
for i in range(len(ratings_completed_values)):
    try:
        user_ratings[ratings_completed_values[i][0]] += 1
    except KeyError:
        user_ratings[ratings_completed_values[i][0]] = 1